<% stylesheets 'header-with-subtitle', 'header-with-subtitle-edit' -%>
<% # javascripts 'prototype', 'effects', 'dragdrop', 'assets' %>
<h1>
<% fields_for_page_object do |f| %>
  <div class="title">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="sub">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </div>
<% end %>
</h2>
