<% stylesheets 'header-with-subtitle' -%>
<% # javascripts 'prototype', 'effects', 'dragdrop', 'assets' -%>
<h1>
  <div class="title"><%=h @page_object.title %></div>
  <div class="sub"><%=h @page_object.subtitle %></div>
</h2>
