<% # stylesheets 'scaffold' %>
<% # javascripts 'prototype', 'effects', 'dragdrop', 'assets' %>

<p>
  <b>Urn:</b>
  <%=h @page_object.urn %>
</p>

<p>
  <b>Title:</b>
  <%=h @page_object.title %>
</p>

<p>
  <b>Subtitle:</b>
  <%=h @page_object.subtitle %>
</p>

